.container2 {
  width: 380px;
  height: 430px;
  border: 1px solid #e8e8e8;
  margin: 40px auto;
}

.container3 {
  width: 380px;
  height: 60px;
  border: 1px solid #e8e8e8;
  margin: 40px auto;
}

.container3 div {
  box-sizing: border-box;
  text-align: center;
  margin-top: 12px;
}
