.posts {
  background-color: #fafafa;
  height: 100vh;
  padding-top: 5em;
}

.post {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: auto;
  padding-top: 1em;
}
.postItem {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 2em;
}
.postItem1 {
  text-align: center;
  margin-bottom: 7em;
  border-bottom: 1px solid #e8e8e8;
}

.postModal {
  position: fixed;
  width: 30vw;
  height: 55vh;
  border: 1px solid black;
  left: 50%;
  top: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
}

.postModal div {
  margin: 1em;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-bottom: 1px solid #e8e8e8;
}
