.OtherProfile {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 100%;

  margin: 0 auto;
}

.header1 {
  height: 33vh;
  margin-top: 5em;

  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  border-bottom: 1px solid #e8e8e8;
}

.oProfile1 {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.oProfile1 div {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 50%;
}

.follow {
  background-color: blue;
  border-radius: 5%;
  color: white;
  display: inline;
  padding: 0.5em;
}

.oProfile2 {
  padding-top: 2em;
  padding-left: 1em;

  flex-grow: 2;
}

.oProfile2 span {
  margin-right: 1em;
}

.oProfile2D {
  margin-bottom: 2em;
}

.header2 {
  display: flex;
  flex-flow: row wrap;
}

.header2 div {
  height: 33vh;
  flex: 0 1 30%;
  margin: 0.5em;
  border: 1px solid black;
  position: relative;
}
