.profileHeader {
  height: 33vh;
  margin-top: 5em;

  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  border-bottom: 1px solid #e8e8e8;
}
.OtherProfile {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 100%;

  margin: 0 auto;
}
.profile {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile div {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 50%;
}

.prof {
  margin: auto;
  border-radius: 50%;
  width: 9em;
  height: 9em;
  border: 1px solid black;
  display: flex;
  background: url("/2021-02-03T02-36-27.230Zom2.jpeg") contain;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileImg div {
  margin: auto;
  border-radius: 50%;
  width: 9em;
  height: 9em;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileImg {
  display: flex;
  flex-direction: row;

  flex: 1 1 0;
}

.profileDetail {
  padding-top: 2em;
  padding-left: 1em;

  flex-grow: 2;
}

.profileDetail div {
  flex: 1 1 0;
}

.profilePosts {
  display: flex;
  flex-flow: row wrap;
}

.profilePosts div {
  height: 33vh;
  flex: 0 1 30%;
  margin: 0.5em;
  border: 1px solid #e8e8e8;
  position: relative;
  background-size: cover;
  background-position: center center;
}
.userProfile {
  /* background: url("/2021-02-03T02-36-27.230Zom2.jpeg"); */
  background-size: contain;
  background-repeat: no-repeat;
  width: 30vw;
  height: 50vh;
}

.profile-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.uploadImg {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  z-index: 10;
  transform: translate(-50%, -50%);
  width: 25vw;
  height: 25vh;
  background-color: white;
  border-radius: 2em;
}

.uploadImg1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.uploadImg2 {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  z-index: 11;
  transform: translate(-50%, -50%);
  width: 25vw;
  height: 25vh;
  background-color: white;
  border-radius: 2em;
}
