.profileHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profile {
  flex-basis: 75%;
  display: flex;
  flex-direction: row;
  height: 25vh;
  padding: 1.5em auto;
  margin-top: 5em;
  justify-content: center;

  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 2em;
}

.prof {
  margin: auto;
  border-radius: 50%;
  width: 9em;
  height: 9em;
  border: 1px solid black;
  display: flex;
  background: url("/2021-02-03T02-36-27.230Zom2.jpeg") contain;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileImg div {
  margin: auto;
  border-radius: 50%;
  width: 9em;
  height: 9em;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileImg {
  display: flex;
  flex-direction: row;

  flex: 1 1 0;
}

.profileDetail {
  flex: 2 1 0;
  display: flex;
  flex-direction: column;
}

.profileDetail div {
  flex: 1 1 0;
}

.profilePosts {
  height: 45vh;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 1em;
}
.userProfile {
  /* background: url("/2021-02-03T02-36-27.230Zom2.jpeg"); */
  background-size: contain;
  background-repeat: no-repeat;
  width: 30vw;
  height: 50vh;
}

.profile-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.uploadImg {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  z-index: 10;
  transform: translate(-50%, -50%);
  width: 25vw;
  height: 25vh;
  background-color: white;
  border-radius: 2em;
}

.uploadImg1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.uploadImg2 {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  z-index: 11;
  transform: translate(-50%, -50%);
  width: 25vw;
  height: 25vh;
  background-color: white;
  border-radius: 2em;
}
